.App {
}

.App-logo {
  height: 40px;
}

.crests {
  height: 20px;
}

.App-header {
  background-color:white;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.leftHalf {
  background-color: white;
  float: left;
  width: 60%;
}
.rightHalf {
  background-color: white;
  float: left;
  width: 40%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}